{% extends 'base.html.twig' %}

{% block title %}{{ 'app.register.title'|trans }}{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1>{{ 'app.register.title'|trans }}</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'app.register.form.plain_password.label'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">{{ 'app.register.form.submit.label'|trans }}</button>
    {{ form_end(registrationForm) }}
{% endblock %}
